@font-face {
  font-family:"Nexa" ;
  src: url("../font/Nexa Bold.otf");
}

@font-face {
  font-family:"Nexa Light" ;
  src: url("../font/Nexa Light.otf");
}

@font-face {
  font-family: "Tahu" ;
  src: url('../font/Tahu!.ttf');
}

.kontak {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.kontak .div {
  background-color: #ffffff;
  border: 1px none;
  height: 2626px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.kontak .overlap {
  height: 2175px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.kontak .foto-utama-kontak {
  height: 1357px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1920px;
}

.kontak .rectangle {
  background-color: #fffef5;
  height: 1109px;
  left: 0;
  position: absolute;
  top: 1066px;
  width: 1920px;
}

.kontak .maps-kopitema {
  height: 744px;
  left: 163px;
  position: absolute;
  top: 1270px;
  width: 833px;
}

.kontak .flex-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 115px;
  left: 1104px;
  position: absolute;
  top: 519px;
  width: 770px;
}

.kontak .text {
  color: #ffffff;
  font-family: "Nexa";
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-shadow: -5px 12px 9px #00000070;
  white-space: nowrap;
  width: 770px;
}

.kontak .text-wrapper {
  color: #ffffff;
  font-family: "Nexa";
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 0;
}

.kontak .h-1 {
  color: #6f4518;
  font-family: "Nexa";
  font-size: 50px;
  font-weight: 400;
  left: 1138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1460px;
  width: 770px;
}

.kontak .p {
  color: #6f4518;
  font-family: "Nexa";
  font-size: 36px;
  font-weight: 400;
  left: 1138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1746px;
  width: 620px;
}

.kontak .group {
  height: 146px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.kontak .rectangle-2 {
  background-color: #283618;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.kontak .overlap-group {
  background-color: #fefae0;
  height: 121px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 1920px;
}

.kontak .group-2 {
  height: 34px;
  left: 1182px;
  position: absolute;
  top: 52px;
  width: 596px;
}

.kontak .HOME-button {
  color: #6f4518;
  font-family: "Nexa";
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 95px;
}

.kontak .PROFILE-button {
  color: #6f4518;
  font-family: "Nexa";
  font-size: 24px;
  font-weight: 400;
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 133px;
}

.kontak .MENU-button {
  color: #6f4518;
  font-family: "Nexa";
  font-size: 24px;
  font-weight: 400;
  left: 326px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 133px;
}

.kontak .KONTAK-button {
  color: #6f4518;
  font-family: "Nexa";
  font-size: 24px;
  font-weight: 400;
  left: 477px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 111px;
}

.kontak .logo-kopi-tema {
  height: 77px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 280px;
}

.kontak .img {
  height: 121px;
  left: 1137px;
  object-fit: cover;
  position: absolute;
  top: 1560px;
  width: 438px;
}

.kontak .footer {
  background-color: transparent;
  height: 451px;
  left: 0;
  position: absolute;
  top: 2175px;
  width: 1926px;
}

.kontak .overlap-group-2 {
  background-color: #432818;
  height: 369px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.kontak .frame {
  height: 67px;
  left: 159px;
  position: absolute;
  top: 73px;
  width: 272px;
}

.kontak .group-3 {
  height: 164px;
  left: 646px;
  position: absolute;
  top: 115px;
  width: 256px;
}

.kontak .text-wrapper-2 {
  color: #fefae0;
  font-family: "Nexa";
  font-size: 22px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.kontak .flex-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 124px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 252px;
}

.kontak .span-wrapper {
  color: #fefae0;
  font-family: "Nexa";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 252px;
}

.kontak .span {
  color: #fefae0;
  font-family: "Nexa";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.kontak .group-4 {
  height: 128px;
  left: 1095px;
  position: absolute;
  top: 115px;
  width: 172px;
}

.kontak .flex-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 88px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 79px;
}

.kontak .text-2 {
  color: #fefae0;
  font-family: "Nexa";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 79px;
}

.kontak .group-5 {
  height: 56px;
  left: 1460px;
  position: absolute;
  top: 115px;
  width: 354px;
}

.kontak .text-wrapper-3 {
  color: #fefae0;
  font-family: "Nexa";
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.kontak .text-wrapper-4 {
  color: #fefae0;
  font-family: "Nexa";
  font-size: 22px;
  font-weight: 400;
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 187px;
  white-space: nowrap;
}

.kontak .flex-container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 52px;
  left: 160px;
  position: absolute;
  top: 227px;
  width: 314px;
}

.kontak .text-3 {
  color: #fefae0;
  font-family: "Nexa";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 314px;
}

.kontak .overlap-2 {
  height: 82px;
  left: 0;
  position: absolute;
  top: 369px;
  width: 1920px;
}

.kontak .group-6 {
  background-color: #283618;
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.kontak .instagram-logo {
  height: 35px;
  left: 1723px;
  position: absolute;
  top: 23px;
  width: 35px;
}

.kontak .GPS-logo-footer {
  height: 48px;
  left: 1418px;
  position: absolute;
  top: 19px;
  width: 47px;
}

.kontak .tiktok-logo {
  height: 36px;
  left: 1625px;
  position: absolute;
  top: 23px;
  width: 31px;
}

.kontak .WA-logo {
  height: 35px;
  left: 1523px;
  position: absolute;
  top: 23px;
  width: 35px;
}

.kontak .text-wrapper-5 {
  color: #fefae0;
  font-family: "Nexa Light";
  font-size: 24px;
  font-weight: 400;
  left: 159px;
  letter-spacing: 0;
  line-height: 34.3px;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
}

.map-responsive{

  height: 744px;
  left: 163px;
  position: absolute;
  top: 1270px;
  width: 833px;
}

.map-responsive iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}